/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$white: #fff;

body {
  background: url('crisp_paper_ruffles.png');
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

ul {padding: 0; margin: 0;}
li {padding:0; margin:0; list-style-type:none;}

#wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  border: 1px solid #ccc;
  background: $white;
}

#header {
  #logo {
    float: left;
  }
  #account {
    float: right;
    li {
      display: inline;
    }
  }
  #navbar {
    clear: both;
    li {
      display: inline;
    }
  }
}

#main {
  padding: 25px;
  #sidebar {
    float: left;
    width: 15%;
  }
  #content {
    float: right;
    width: 75%;
  }

}

#footer {
  clear: both;
  text-align: center;
}